doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title High Pass
    link(rel="shortcut icon" href="images/favicon.ico")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="preload" href="fonts/ttfirsneuebold.woff2" as="font")
    link(rel="preload" href="fonts/ttfirsneueregular.woff2" as="font")
    link(rel="preload" href="fonts/robotobold.woff2" as="font")
    link(rel="preload" href="fonts/robotoregular.woff2" as="font")
  body
    header.header
      .container.header__grid
        .header__col.header__col--left
          a.link.logo(href="/")
            img.logo__img(src="images/logo.svg" alt="High Pass")
        nav.main-nav.header__col.header__col--full-sm
          span.main-nav__btn-menu.visib-xs.js-open
          .main-nav__over.js-menu
            span.btn-close.main-nav__btn-close.visib-xs.js-close
            ul.list.main-nav__list
              li.main-nav__item
                a.link.main-nav__link(href="#about") О студии
              li.main-nav__item
                a.link.main-nav__link(href="#projects") Наши проекты
              li.main-nav__item
                a.link.main-nav__link(href="#") Услуги
              li.main-nav__item
                a.link.main-nav__link(href="#") Мастер-классы
              li.main-nav__item
                a.link.main-nav__link(href="#contacts") Контакты
            a.link.link-phone.main-nav__link-phone.visib-xs(href="tel:+7 495 424-23-532") +7 495 424-23-532
        .header__col.header__col--right
          a.link.btn-search(href="#" title="Поиск")
    main.main
      section.section.section-hero
        .container
          .section-hero__grid
            .section-hero__col.section-hero__col--lg
              .post-img.post-img--bg.post-img--bg-master
                a.link.post-img__label(href="#") #мастеркласс
                .post-img__entry
                  .post-img__autor Мастер-класс от Игоря Робова
                  h1.post-img__title Неоновый фотосет 2.0
                    br
                    | 7 июля 20:00
                  a.link.btn(href="#") Узнать больше
            .section-hero__col.section-hero__col--sm
              h2.title.section-hero__title Работы участников предыдущего мастер-класса
              picture.section-hero__pic
                source(media="(max-width: 400px)" srcset="images/img02-320.jpg")
                source(media="(max-width: 850px)" srcset="images/img02-768.jpg")
                source(media="(max-width: 1048px)" srcset="images/img02-1024.jpg")
                img.section-hero__img(src="images/img02.jpg" alt="Работы участников предыдущего мастер-класса")
            .section-hero__col.section-hero__col--xs
              picture.section-hero__pic
                source(media="(max-width: 1048px)" srcset="images/img03-1024.jpg")
                img.section-hero__img(src="images/img03.jpg" alt="девушку с длинными волосами")
            .section-hero__col.section-hero__col--xs
              picture.section-hero__pic
                source(media="(max-width: 1048px)" srcset="images/img04-1024.jpg")
                img.section-hero__img(src="images/img04.jpg" alt="девушка в черном платье")
      section#about.section.section-about
        .container
          h2.title О студии
          .section-about__grid
            .section-about__col.section-about__col--lg
              p.description В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
            .section-about__col
              .post-img.post-img--bg.post-img--bg-about
            .section-about__col
              .newsletter
                h3.sub-title.newsletter__title Подписаться на рассылку
                form#newsletterForm.newsletter__row(action="POST")
                  .form-control.newsletter__control
                    input#emailNewsletter.input.input--dark(type="email" name="email" placeholder="Email*" required)
                  button.btn Отправить
      section#projects.section.section-projects
        .container
          h2.title.section-projects__title Наши проекты
          .section-projects__grid
            .section-projects__col
              .post-img
                a.link.post-img__label.post-img__label--sm(href="#") #пейзаж
                picture.post-img__pic
                  source(media="(max-width: 400px)" srcset="images/img06-320.jpg")
                  source(media="(max-width: 1048px)" srcset="images/img06-1024.jpg")
                  img.post-img__img.post-img__img--mb(src="images/img06.jpg" alt="пейзаж")
                p.description.post-img__description.post-img__description--xs Синтетически, смешаны с не уникальными данными до степени…
                .post-img__date.post-img__date--xs 16 июня
            .section-projects__col
              .post-img
                a.link.post-img__label.post-img__label--sm(href="#") #портрет
                picture.post-img__pic
                  source(media="(max-width: 400px)" srcset="images/img7-320.jpg")
                  source(media="(max-width: 1048px)" srcset="images/img7-1024.jpg")
                  img.post-img__img.post-img__img--mb(src="images/img7.jpg" alt="портрет")
                p.description.post-img__description.post-img__description--xs В своём стремлении улучшить опыт мы упускаем, что явные...
                .post-img__date.post-img__date--xs 16 июня
            .section-projects__col.section-projects__col--xs
              .post-img
                a.link.post-img__label.post-img__label--sm(href="#") #предмет
                picture.post-img__pic
                  source(media="(max-width: 400px)" srcset="images/img08-320.jpg")
                  source(media="(max-width: 850px)" srcset="images/img08-768.jpg")
                  source(media="(max-width: 1048px)" srcset="images/img08-1024.jpg")
                  img.post-img__img.post-img__img--mb(src="images/img08.jpg" alt="предмет")
                p.description.post-img__description.post-img__description--xs Равным образом, высокое качество позиционных…
                .post-img__date.post-img__date--xs 16 июня
            .section-projects__col.section-projects__col--lg
              .post-img.post-img--bg.post-img--bg-fuji
                a.link.post-img__label.post-img__label--sm(href="#") #fuji
                .post-img__entry.post-img__entry--sm
                  .post-img__date.post-img__date--white 16 июня
                  h2.post-img__sub-title Cемантический разбор
                  p.description.post-img__description В рамках спецификации современных стандартов, интерактивные прототипы
                  a.link.btn.btn--outline(href="#") О проекте
            .section-projects__col.section-projects__col--lg.section-projects__col--lg-last
              .post-img.post-img--bg.post-img--bg-zabvenie
                a.link.post-img__label.post-img__label--sm(href="#") #проектзабвение
                .post-img__entry.post-img__entry--sm
                  .post-img__date.post-img__date--white 16 июня
                  h2.post-img__sub-title Забвение
                  p.description.post-img__description Играет важную роль в формировании глубокомысленных рассуждений
                  a.link.btn.btn--outline(href="#") О проекте
            .section-projects__col.section-projects__col--sm
              .post-img
                a.link.post-img__label.post-img__label--sm(href="#") #ретушь
                picture.post-img__pic
                  source(media="(max-width: 400px)" srcset="images/img11-320.jpg")
                  source(media="(max-width: 1048px)" srcset="images/img11-1024.jpg")
                  img.post-img__img.post-img__img--mb(src="images/img11.jpg" alt="ретушь")
                p.description.post-img__description.post-img__description--md Как принято считать, многие известные личности и по сей день остаются уделом либералов…
                .post-img__date 16 июня
            .section-projects__col.section-projects__col--sm
              .post-img
                a.link.post-img__label.post-img__label--sm(href="#") #портрет
                picture.post-img__pic
                  source(media="(max-width: 400px)" srcset="images/img12-320.jpg")
                  source(media="(max-width: 1048px)" srcset="images/img12-1024.jpg")
                  img.post-img__img.post-img__img--mb(src="images/img12.jpg" alt="портрет")
                p.description.link.post-img__description.post-img__description--md С учётом сложившейся международной обстановки, новая модель организационной…
                .post-img__date 16 июня
      section#contacts.section.section-contacts
        .container
          h2.title.section-contacts__title Контакты
          .section-contacts__grid
            .map.section-contacts__col
              #map.map__map
              .map__entry.js-contact-card
                button.btn-close.map__btn-close.js-contact-btn-close
                h3.sub-title.map__sub-title Студия «High pass»
                p.description.link.map__description 107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82
                  a.link.link-phone.map__link-phone(href="tel:+7 495 424-23-532") +7 495 424-23-532
            .section-contacts__col.section-contacts__col--sm
              h3.sub-title.section-contacts__sub-title Оставить заявку
              p.description.section-contacts__description Оставьте ваши данные, указав в графе «Комментарий» желаемые время и дату съёмки или другого мероприятия
              form#contactForm(action="POST")
                .form-control.form-control--mb
                  input#nameInput.input(type="text" name="name" placeholder="Имя*" required)
                .form-control.form-control--mb
                  input#emailInput.input(type="email" name="email" placeholder="Email*" required)
                .form-control.form-control--mb
                  textarea.textarea(placeholder="Комментарий")
                button.btn Отправить
    footer.footer
      .container.footer__grid
        .footer__col.footer__col--left
          a.link.logo.footer__logo(href="/")
            img.logo__img(src="images/logo.svg" alt="High Pass")
          p.description.footer__description.footer__description--small Фотостудия High pass&reg; 2018-2020
        .footer__col
          p.description.footer__description Которая из моих фотографий самая любимая?
            br
            | Та, которую я собираюсь снять завтра.
            br
            | &copy; Имоджен Каннингем
        .footer__col.footer__col--right
          h3.small-title Больше интересного:
          ul.list.share-list
            li.share-list__item
              a.link.share-list__link(href="#" target="_blank")
                svg(width="30" height="30")
                  path(d="M12.8527 9.99062C12.8527 11.2273 13.8552 12.2299 15.0919 12.2299C16.3286 12.2299 17.3311 11.2273 17.3311 9.99062C17.3311 8.75396 16.3286 7.7514 15.0919 7.7514C13.8552 7.7514 12.8527 8.75396 12.8527 9.99062Z")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71572 0 0 6.71573 0 15C0 23.2843 6.71572 30 15 30ZM9.67501 9.99055C9.67501 6.99892 12.1002 4.57364 15.0919 4.57364C18.0836 4.57364 20.5088 6.99892 20.5088 9.99055C20.5088 12.9822 18.0836 15.4077 15.0919 15.4077C12.1002 15.4077 9.67501 12.9822 9.67501 9.99055ZM20.5412 18.194C20.4724 18.2491 19.1729 19.2761 17.0043 19.7179L20.2777 22.9622C20.8534 23.5369 20.854 24.4695 20.2793 25.0451C19.7046 25.6207 18.7722 25.6216 18.1964 25.0467L15.0184 21.952L12.1319 25.0268C11.8429 25.3266 11.4575 25.4774 11.0716 25.4774C10.7035 25.4774 10.3351 25.3404 10.0493 25.0648C9.46372 24.5001 9.44677 23.5677 10.0114 22.9822L13.1185 19.735C10.8891 19.3036 9.53591 18.2499 9.46622 18.194C8.83165 17.6851 8.72971 16.7581 9.23862 16.1235C9.74746 15.4889 10.6744 15.387 11.3091 15.8958C11.3225 15.9067 12.7378 16.9699 15.0183 16.9715C17.2989 16.9699 18.6849 15.9067 18.6983 15.8958C19.333 15.387 20.2599 15.4889 20.7688 16.1235C21.2777 16.7581 21.1757 17.6851 20.5412 18.194Z")
            li.share-list__item
              a.link.share-list__link(href="#" target="_blank")
                svg(width="30" height="30")
                  path(d="M15 0C6.71601 0 0 6.7157 0 15C0 23.2843 6.71601 30 15 30C23.284 30 30 23.2843 30 15C30 6.7157 23.284 0 15 0ZM22.6088 16.6223C23.3079 17.3052 24.0476 17.9478 24.6752 18.7013C24.9533 19.0346 25.2154 19.3792 25.4148 19.7669C25.6996 20.3196 25.4425 20.9257 24.9477 20.9586L21.8747 20.958C21.081 21.0236 20.4494 20.7035 19.9169 20.1609C19.4919 19.7285 19.0975 19.2666 18.6881 18.8194C18.5208 18.6359 18.3447 18.4631 18.1347 18.3272C17.7158 18.0546 17.3518 18.1381 17.1118 18.5758C16.8672 19.0211 16.8114 19.5146 16.788 20.0102C16.7546 20.7348 16.5361 20.9242 15.809 20.9583C14.2555 21.031 12.7814 20.7953 11.4114 20.0121C10.2028 19.3212 9.26732 18.3462 8.45218 17.2423C6.86486 15.0902 5.64921 12.7283 4.55693 10.2985C4.3111 9.7513 4.49095 9.45852 5.09463 9.44716C6.0976 9.42783 7.10056 9.43028 8.10353 9.44624C8.51172 9.45268 8.78179 9.68624 8.93862 10.0714C9.48062 11.4049 10.1451 12.6737 10.9777 13.8503C11.1996 14.1637 11.4261 14.4761 11.7486 14.6974C12.1047 14.9417 12.376 14.861 12.5438 14.4635C12.6513 14.2109 12.6976 13.9409 12.7209 13.6702C12.8007 12.743 12.8102 11.8162 12.6721 10.8927C12.5862 10.3148 12.2612 9.94158 11.6851 9.83233C11.3917 9.77678 11.4347 9.66813 11.5774 9.50056C11.8251 9.21084 12.0571 9.03161 12.5208 9.03161L15.9928 9.031C16.5401 9.13841 16.6628 9.38394 16.7371 9.93514L16.7402 13.7936C16.7337 14.0069 16.8473 14.6391 17.2303 14.7787C17.5372 14.88 17.7398 14.6339 17.9233 14.4396C18.7559 13.556 19.3492 12.5131 19.8804 11.4338C20.1149 10.9577 20.3171 10.4652 20.5136 9.97166C20.6596 9.60675 20.8868 9.42721 21.2986 9.43335L24.6421 9.43734C24.7406 9.43734 24.8406 9.43826 24.9382 9.45514C25.5017 9.55151 25.6561 9.79396 25.4817 10.3436C25.2074 11.2073 24.6743 11.9266 24.1532 12.6479C23.5946 13.4201 22.9989 14.1652 22.4458 14.9408C21.9376 15.6497 21.9778 16.0066 22.6088 16.6223Z")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU")
    script.
      ymaps.ready(init);
      function init() {
        var myMap = new ymaps.Map("map", {
          center: [55.759782506951204,37.59061000028678],
          zoom: 13,
        });
        // Создание геообъекта с типом точка (метка).
        var myGeoObject = new ymaps.GeoObject({
          geometry: {
            type: "Point", // тип геометрии - точка
            coordinates: [55.76713813337333,37.61992118040151], // координаты точки
          },
        });
        var myPlacemark = new ymaps.Placemark(
          [55.76713813337333,37.61992118040151],
          {},
          {
            iconLayout: "default#image",
            iconImageHref: "images/location.svg",
            iconImageSize: [12, 12],
            iconImageOffset: [-23, -72],
          }
        );

        myMap.controls.remove("zoomControl");
        myMap.controls.remove("geolocationControl");
        myMap.controls.remove("searchControl");
        myMap.controls.remove("trafficControl");
        myMap.controls.remove("typeSelector");
        myMap.controls.remove("fullscreenControl");

        // Размещение геообъекта на карте.
        myMap.geoObjects.add(myPlacemark);
      }
    script(src="js/app.js")
