// Color
$color-white: #fff;
$color-black: #202020;
$color-grey-4a: #4A4A4A;
$color-grey-99: #999999;
$color-grey-ca: #CACACA;
$color-grey-e9: #E9E9E9;
$color-orange: #FF6E30;
$color-orange-hover: #BC572B;
$color-orange-active: #CE4307;
$color-red: #FF3030;
$color-red-f0: #F06666;
$color-red-ff: #FFD4C1;

// Font
$font-family-neue400: 'tt_firs_neueregular', sans-serif;
$font-family-neue700: 'tt_firs_neuebold', sans-serif;
$font-family-roboto400: 'robotoregular', sans-serif;
$font-family-roboto700: 'robotobold', sans-serif;

// Breakpoints
$lg: 1295px;
$md: 1048px;
$sm: 950px;
$xs: 850px;
$xxs: 650px;